.classDump {
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin-top: 30px;
}

.btn {
    margin: 3px;
}

.gif {
    margin: 2px;
    text-align: center;
}

p {
    background-color: teal;
    color: white;
    margin-bottom: 0rem;
}
