body {
    background-image: url("../images/background.jpg");
    background-size: cover;
}

.classDump {
    display: flex;
    flex-wrap: wrap;
}

.container {
    margin-top: 30px;
}

.btn {
    margin: 3px;
}

.gif {
    margin: 5px;
    text-align: center;
}

p {
    background-color: teal;
    color: white;
    margin-bottom: 0rem;
}

#form {
    margin-top: 15px;
    text-align: center;
}
